name: Deploy Client

on:
  push:
    branches: [main]

jobs:
  build-deploy:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #v6.0.1

      - name: Setup Node
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f #v6.1.0
        with:
          node-version: "24.12.0"

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npm run build
        env:
          VITE_PUBLIC_BACKEND_URL: https://api.pizzabox.ayushshende.com/api/v1
          VITE_PUBLIC_WS_URL: wss://api.pizzabox.ayushshende.com/api/v1
          VITE_PUBLIC_RAZORPAY_KEY_ID: ${{ secrets.VITE_PUBLIC_RAZORPAY_KEY_ID }}

      - name: Upload build to VPS
        uses: appleboy/scp-action@ff85246acaad7bdce478db94a363cd2bf7c90345 #v1.0.0
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_KEY }}
          port: ${{ secrets.PORT }}
          source: "dist/*"
          target: "/opt/pizza-box/client/dist"
          strip_components: 1
